*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Gilroy';
  src: url('/assets/fonts/Gilroy-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/assets/fonts/Gilroy-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}


@font-face{
  font-family: 'Gilroy';
  src: url('/assets/fonts/Gilroy-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}


@font-face{
  font-family: 'Gilroy';
  src: url('/assets/fonts/Gilroy-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/assets/fonts/Gilroy-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/assets/fonts/Gilroy-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/assets/fonts/Gilroy-Black.ttf');
  font-weight: 900;
  font-style: normal;
}


.slick-slider > .slick-dots > ul >  li.slick-active {
  background-color: #2E6B26;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.slick-slider > .slick-dots > ul >  li{
  background-color: transparent;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #2E6B26;
}

.slick-slider > .slick-dots{
  bottom: -56px;
}
